<p>Bonjour <%= @resource.email %>!</p>

<p>Votre demande pour modifier votre mot de passe a été enregistrée, vous pouvez le faire grâce au lien ci-dessous</p>

<p><%= link_to 'Modifier votre mot de passe', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si vous n'avez pas effectué de demande, veuillez ignorer cet email.</p>
<p>Votre mot de passe ne sera pas changé à moins que vous ne cliquiez sur le lien ci-dessus.</p>
